<select ng-model = "orderProp">
  <option value = "address"> Name </option>
  <option value = "userseqno">Id </option>
  <option value = "postalcity">City </option>
</select>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      Search: <input ng-model="query">
      <input type = "checkbox" ng-model = "should_show">Show form</input>
    <form nd-model = "new_address" name = "input_form" ng-show = "should_show" ng-submit = "add_new"
    ng-disabled = "true" ng-disabled = "input_form.$invalid">
      <button class = "btn btn-primary btn-sm"
      type = "submit" ng-click = "add_new()" ng-disabled = "input_form.$invalid">
      Add new address</button>
      <div >
      <input type = "text" ng-model = "new_address.userseqno" placeholder = "userseqno" required> </input>
       <br/>
      <input type = "text" ng-model = "new_address.addresstype" placeholder = "adresstype"> </input>
      <br/>
      <input type = "text" ng-model = "new_address.address" placeholder = "address"> </input>
       <br/>
      <input type = "text" ng-model = "new_address.postalcode" placeholder = "postalcode"> </input>
       <br/>
      <input type = "text" ng-model = "new_address.postalcity" placeholder = "postalcity"> </input>
       <br/>
      <input type = "text" ng-model = "new_address.municipality" placeholder = "municipality"> </input>
       <br/>
      <input type = "text" ng-model = "new_address.countrycode" placeholder = "countrycode"> </input>
       <br/>
      <input type = "email" ng-model = "new_address.email" placeholder = "Some mail"> </input>
       <br/>
      
      </div>
    </form>

    </div>
    <div class="col-md-10">
      <ul class="address">
        <li ng-repeat="item in address | filter:query | orderBy: orderProp"  class="address-listing">
          <a href="#/{{item.userseqno}}">Details</a>
          <p>{{item.address}}</p>
          <p>{{item.postalcity}}</p>
          <p>{{item.postalcode | checkmark }}</p>

        </li>
      </ul>

    </div>
  </div>
</div>
